

body{
    margin-top: 10px;

}
.color1{
    background-color: paleturquoise;
}


.color5{
    background-color: #D2D8C8;
}

.vinculo{
    text-align: center;
    padding: 10px;
}

.menu{
    list-style: none;
    list-style-type: none;
}




.nav-links li{
    background-color: #CCCCCC;
    padding: 1em;
    text-align: center;
    margin-bottom: .5em;
    list-style-type: none;
}




@media  screen and (min-width: 768px)
{


    div.volatile{
        display: none;
    }



    .nav-links {
        float: right;
        display: inline-block;
    }


    .nav-links li{
        float: left;
        background-color: white;
    }

}