*{
    margin: 0;
    padding: 0;

}

.fondo{
    background-image: url("../Images/pizza.png");
    text-align: center;
    align-content: center;
}



.pale{
    background-color: white;
    opacity: 0.5;
    width: 100%;
}


div .btn-default{
    width: 100px;

    margin-top: 6px;
    margin-bottom: 6px;
    float: right;
    color: white;

}



div .card-header,
ul li.list-group-item
{

    background-color: #DAEDF6;
}

div {
    border: solid 1px #DAEDF6;
}

.icono{
    background-image: url('/Images/ic_account_circle.png');
    width: 30px;
    height: 30px;
    border: none;
    text-align: right;
}

.iconodiv{
    border: none;

}












