h1{
     position: center;
     color: #1d3018;
    font-family: fantasy;
    margin: 0 auto;
 }
p{

    text-align: justify;
    position: center;
    margin: auto;
}

div{
    background-color: bisque;
    max-width: 80%;
    padding: 5px;
    margin: 5px;
    position: center;
    border-bottom: firebrick 1px solid;
}

#posts, #title{
    position: center;
    margin: 0 auto;
}

body{
    background-color: #999F8E;
}

#title{

}