h1{
    position: center;
    color: #1d3018;
    text-decoration-style: dotted;
   font-family: Abel;
    alignment: center;
    margin: 0 auto;
}
p{

    text-align: justify;
    position: center;
    margin: auto;
}

div{
    background-color: paleturquoise;
    max-width: 40%;
    padding: 5px;
    margin: 5px;
    position: center;
    float: left;
    clear: right;
}

#posts {
    position: center;
    margin: 0 auto;
    max-width: 100%;
}

h2{
    font-family: fantasy;
}