


.container{
    margin: 0 auto;
    max-width: 1024px;
    overflow: auto;
    clear: both;
}


.row{
    overflow: auto;
    margin-bottom: 20px;

}

.column{
    float: left;
    /*border: 1px solid black;*/
    box-sizing: border-box;
    padding: 10px ;
    /*background-color: #E1E1E1;*/


}

.one-half,
.one-third,
.one-fourth,
.one-eighth,
.two-third,
.two-four,
.three-six,
.three-eighth{
    width: 100%;
    text-align: center;

}



@media  screen and (min-width: 768px) {

    .one-half {
        width: 50%;
    }

    .one-third {
        width: 33.3%;}

    .one-fourth {
        width: 25%;}

    .one-eighth {
        width: 12.5%;}

    .last-col {
        margin-top: 40px;
    }

    /* bonus 1: creating new rules to have some different width spaces*/
    .two-third {
        width: 66.666%;
    }

    .three-eighth {
        width: 37.555%;
    }

    .three-six
    {
        width: 33.333%;
    }

    .one-half-offset{
        margin-left: 33.333%;
    }

}







