
/* general styling reset*/

*{
    padding: 0;
    margin: 0;
}


/* general behaviors*/

body{
    padding: 200px;
}



.container{
    width: 100%;
    border: solid black 1px;
    overflow: hidden;
}

/* common columns features*/

.column {
    height: 498px;
    border: black solid 1px;
    float: left;
}
/* columns width */
.pile1 {
    width: 20%;
}

.pile2{
    width: 40%;
}
.pile3{

    float: right;
    width: 39.3%;

}


/*common features for all squares*/

.bricks{
    border: 3px solid black;
    float: left;
}

/* column 1 elements : notation section+column number+element number*/
/* column 1 elements */

.section11{
    width: 60%;
    height: 297px;
}
.section12{
    width: 29.5%;
    height: 144px;
}
.section13{
    width: 29.5%;
    height: 105px;

}
.section14{
    width: 29.5%;
    height: 36px;
}
.section15{
    width: 95%;
    height: 100px;
}

.section16{
    width: 95%;
    height: 85px;
}

/* column 2 elements */

.section21{
     width: 97.5%;
     height: 144px;

 }
.section22{
    width: 55.5%;
    height: 147px;

}
.section23{
    width: 55.5%;
    height: 100px;


}

.section24{
    width: 18.5%;
    height: 254px;
    position: relative;
    top:-154px;
}
.section25{
    width: 18.2%;
    height: 254px;
    position: relative;
    top:-154px;


}.section26{
     width: 77.5%;
     height: 83.5px;
     position: relative;
     top: -154px;
 }
.section27 {
    width: 17.2%;
    height: 40px;
    position: relative;
    top: -154px;
}
.section28 {
    width: 17.2%;
    height: 37px;
    position: relative;
    top: -154px;
}

/* column 3 elements */

.sub{
    width: 98%;
    height: 298px;
    border: 3px black solid;

}


.section31{
    width: 23%;
    height: 248px;
}


.section32 {
    width: 71.5%;
    height: 248px;

    float: right;
}
.section33 {

    clear: both;
    float: none;
    height: 38px;
}

.section34{
    width: 23%;
    height: 100px;
}
.section35{
    width: 71.7%;
    height: 100px;
}