@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.fancyheader
{
    text-align: center;
}

h1,h2,h3,h4,h5,h6
{
    color: darkolivegreen;
    text-decoration-line: underline;
}

body
{

    background-color: beige;
    background-image: url(../Images/Soft-Green-Abstract-Background-Vector.jpg) ;
    background-repeat: repeat;
    font-family: 'Indie Flower', cursive;

}

ul
{
    list-style: armenian;
}

img
{
    width: 950px;
}


td,tr
{
    padding: 10px;
    font-size: 24px;
}

a:link
{
    color: blue;
}

a:visited
{
    color: darkred;
}
a:hover
{
    color: aqua;
}
a:active
{
    color:purple;
}


